@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.header {
  @include flex(row, space-between);
  z-index: 55;
  width: 100%;
  position: fixed;
  top: 0;
  padding: $p-1;
  background-color: $white;

  &__navigation {
    z-index: -99;
    position: fixed;
    inset: 0;
    height: min-content;
    background-color: $white;
    margin-block-start: 5.75rem;
    margin-inline: $m-1;
    padding: $p-1;
    border-radius: 0.5rem;
    transform: translateY(-200%);
    transition: 300ms ease-in-out;
    box-shadow: 0 0 2rem hsla(100, 100%, 0%, 0.5);

    &[data-visible="true"]{
      transform: translateY(0%);
    }

    ul {
      @include flex(column, initial);
      gap: $g-1;
    }
  }

  &__btn {
    display: none;
  }
}