//Colors

//Primary Colors
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

//Neutral Colors
$grayish-blue:  hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


//Font
$public-sans: 'Public Sans', sans-serif;

//Font sizes
$fs-base: 1rem;
$fs-1: 1.25rem;
$fs-2: 1.5rem;
$fs-3: 1.75rem;
$fs-4: 2rem;


//Padding
$p-base: 1rem;
$p-1: 1.5rem;
$p-2: 1.75rem;
$p-3: 2rem;
$p-4: 2.25rem;
$p-5: 2.5rem;
$p-6: 2.75rem;
$p-7: 3rem;
$p-8: 3.25rem;
$p-9: 3.5rem;
$p-10: 3.75rem;
$p-11: 4rem;
$p-12: 4.25rem;
$p-13: 4.5rem;
$p-14: 4.75rem;
$p-15: 5rem;


//Margin
$m-1: 1.5rem;
$m-2: 1.75rem;
$m-3: 2rem;
$m-4: 2.25rem;
$m-5: 2.5rem;
$m-6: 2.75rem;
$m-7: 3rem;
$m-8: 3.25rem;
$m-9: 3.5rem;
$m-10: 3.75rem;
$m-11: 4rem;
$m-12: 4.25rem;
$m-13: 4.5rem;
$m-14: 4.75rem;
$m-15: 5rem;


//Gutters
$g-1: 1rem;
$g-2: 1.25rem;
$g-3: 1.5rem;
$g-4: 1.75rem;
$g-5: 2rem;
$g-6: 2.25rem;
$g-7: 2.5rem;
$g-8: 2.75rem;
$g-9: 3rem;
$g-10: 3.25rem;
$g-11: 3.5rem;
$g-12: 3.75rem;
$g-13: 4rem;
$g-14: 4.25rem;
$g-15: 4.75rem;