//Colors

//Primary Colors
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

//Neutral Colors
$grayish-blue:  hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


//Font
$public-sans: 'Public Sans', sans-serif;

//Font sizes
$fs-base: 1.125rem;
$fs-1: 1.25rem;
$fs-2: 1.5rem;
$fs-3: 1.75rem;
$fs-4: 2rem;


//Padding
$p-1: 1.5rem;


//Margin
$m-1: 1.5rem;


//Gutters
$g-1: 1rem;
$g-2: 1.25rem;
$g-3: 1.5rem;
$g-4: 1.75rem;
$g-5: 2rem;