@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.hero {
  &__content {
    &__illustration{
      padding-inline: $p-1;
      background-image: url('../images/bg-intro-mobile.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__text {
      @include flex(column);
      gap: $g-3;
      padding: $p-base $p-base $p-15 $p-base;
      text-align: center;
    }

    h1 {
      font-size: $fs-4;
      padding-inline: $p-base;
      line-height: 1.2;
      font-weight: 400;
    }

    p{
      color: $grayish-blue;
    }
  }
}