@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.5;
}

body {
  overflow-x: hidden;
  font-family: 'Public Sans', sans-serif;
  font-size: 1rem;
  color: var(--dark-blue);
}

p {
  color: var(--grayish-blue);
}

button,
select,
input {
  font: inherit;
}

li {
  list-style: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.hide-on-sm {
  display: none;
}

@media screen and (min-width: 64em) {
  .hide-on-sm{
    display: block;
  }
}

img,
picture {
  display: block;
  max-width: 100%;
}

/*Utility Classes*/

.container {
  max-width: 75rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.btn {
  padding: 0.7rem 2.5rem;
  border-radius: 3rem;
  border: 0;
  background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  color: var(--white);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Styles*/
.document-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--white);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.hamburger-menu {
  width: 1.5rem;
  height: 1.25rem;
  border: none;
  background-image: url('../images/icon-hamburger.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: contain;
}

.hamburger-menu[aria-expanded="true"]{
  background-image: url('../images/icon-close.svg');
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: 1.5rem;
  margin-block-start: 4.25rem;
  padding-block: 1.5rem;
  border-radius: 0.5rem;
  transform: translateY(-150%);
  background-color: var(--white);
  transition: transform 200ms ease-in;
}

.nav > ul {
  gap: 1rem;
  text-align: center;
}

.nav[data-visible="true"]{
  transform: translateY(0%);
}

/*Hero*/

.hero-container {
  background-image: url('../images/bg-intro-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding-block-end: 5rem;
}

.hero-text {
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
}

/*Feature*/
.feature-container {
  background-color: var(--light-grayish-blue);
  padding-block: 5rem;
  text-align: center;
  gap: 4rem;
}

.feature-header,
.feature {
  gap: 1rem;
}

.feature-header h2,
.feature h3 {
  font-weight: 400;
}

.feature-header h2 {
  font-size: 2rem;
  line-height: 1.2;
}

.feature h3 {
  font-size: 1.25rem;
}

/*Articles*/
.articles-container {
  padding-block: 4rem;
  gap: 3rem;
}

.articles-container h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
}

article img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.article-preview {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#author {
  font-size: 0.75rem;
}

.article-preview h1 {
  font-weight: 400;
  font-size: 1rem;
}

.article-preview p {
  font-size: 0.8125rem;
}

/*Footer*/

footer {
  background-color: var(--dark-blue);
}

.footer-container,
.logo-and-socials,
.footer-nav,
.footer-nav ul,
.cta {
  display: flex;
  flex-direction: column;
}

.footer-container,
.logo-and-socials,
.socials,
.footer-nav ul,
.cta {
  align-items: center;
}

.footer-container {
  padding-block: 3rem;
  gap: 2.5rem;
}

.logo-and-socials {
  gap: 1rem;
}

.socials {
  display: flex;
  gap: 1rem;
}

.footer-nav,
.footer-nav ul {
  gap: 0.5rem;
}

.footer-nav ul {
  color: var(--white);
}

.cta {
  gap: 1.5rem;
}