@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --res-padding: clamp(1.5rem, -1.6rem + 13.24vw, 10.3125rem);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.5;
}

body {
  overflow-x: hidden;
  font-family: "Public Sans", sans-serif;
  font-size: clamp(0.875rem, 0.79rem + 0.36vw, 1.125rem);
  color: var(--dark-blue);
}

p {
  color: var(--grayish-blue);
}

button,
select,
input {
  font: inherit;
}

li {
  list-style: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Main Styles */
header {
  position: relative;
  z-index: 50;
  padding-block: 1.5rem;
  padding-inline: var(--res-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  line-height: 1;
}

header > .main-btn {
  display: none;
}

.nav-toggler {
  border: none;
  width: 1.125rem;
  height: 0.6875rem;

  background-image: url("../../src/images/icon-hamburger.svg");
}

header > nav {
  z-index: 100;
  position: absolute;
  top: 5.5rem;
  inset-inline: 1.5rem;
  transform: translateY(-200%);
  background-color: var(--white);
  padding-block: 2.125rem;
  box-shadow: 0 0 1.5rem var(--dark-blue);
  border-radius: 0.5rem;
}

header > nav > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

/* Hero */
.hero {
  padding-bottom: clamp(5.5rem, 3.73943661971831rem + 7.511737089201878vw, 10.5rem);
  text-align: center;
  overflow-x: hidden;
}

@media screen and (width >= 64em) {
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding-block: clamp(5.5rem, 3.73943661971831rem + 7.511737089201878vw, 10.5rem);
  }
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.5rem, 1.32rem + 0.75vw, 2rem);
  padding-inline: var(--res-padding);
  padding-top: clamp(17.625rem, 6.775528169014086rem + 46.29107981220657vw, 48.4375rem);
}

@media screen and (width >= 64em) {
  .copy {
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    align-items: flex-start;
  }
}

.hero h1 {
  font-size: clamp(2.25rem, 1.94rem + 1.31vw, 3.125rem);
  font-weight: normal;
  line-height: 1.3;
}

.main-btn {
  line-height: 1;
  padding-block: 0.875rem;
  padding-inline: 2rem;
  border-radius: 2rem;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan)
  );
  font-weight: 700;
  color: var(--white);
}

.hero-illustration {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: clamp(17.625rem, 6.775528169014086rem + 46.29107981220657vw, 48.4375rem);
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  overflow-x: hidden;
}

@media screen and (width >= 48em) {
  .hero-illustration {
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: left bottom;
    background-size: 150%;
  }
}

@media screen and (width >= 64em) {
  .hero-illustration {
    width: 50%;
    top: 0;
    right: 0;
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: left bottom;
  }
}

.hero-illustration::before{
  z-index: 55;
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: clamp(20.4375rem, 12.448943661971832rem + 34.08450704225352vw, 43.125rem);
  height: 100%;
  background-image: url("../images/image-mockups.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

@media screen and (width >= 64em){
  .hero-illustration::before{
    inset-block: 0;
    right: -15%;
    left: auto;
  }
}

/* Features */
.features {
  display: flex;
  flex-direction: column;
  gap: 3.625rem;
  padding-block: 5.5rem;
  padding-inline: var(--res-padding);
  background-color: var(--light-grayish-blue);
  text-align: center;
}

.features-intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (width >= 90em) {
  .features-intro {
    text-align: left;
  }

  .features-intro > p {
    max-inline-size: 60ch;
  }
}

.features h2 {
  font-weight: 400;
  font-size: clamp(2rem, 1.91rem + 0.38vw, 2.25rem);
  line-height: 1.2;
}

.features-main {
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
}

.features-main > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

@media screen and (width >= 48em) {
  .features-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width >= 90em){
  .features-main {
    grid-template-columns: repeat(4, 1fr);
  }

  .features-main > * {
    align-items: flex-start;
    text-align: left;
  }
}

.features-main h3 {
  line-height: 1;
  font-size: 1.25rem;
  font-weight: 400;
}

/* Article */
article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 5.875rem;
  padding-inline: var(--res-padding);
}

@media screen and (width >= 48em){
  article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width >= 90em){
  article {
    grid-template-columns: repeat(4, 1fr);
  }
}

article img {
  object-fit: cover;
}

article h2 {
  text-align: center;
  line-height: 1;
  font-weight: 400;
  font-size: clamp(2rem, 1.91rem + 0.38vw, 2.25rem);
}

@media screen and (width >= 48em){
  article h2 {
    grid-column: span 2;
  }
}

@media screen and (width >= 90em){
  article h2 {
    grid-column: span 4;
    text-align: left;
  }
}

article h3 {
  font-size: 0.9375rem;
  font-weight: 700;
}

article p {
  font-size: 0.875rem;
}

article > div {
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 0 0 8px 5px var(--light-grayish-blue);
}

article img {
  width: 100%;
  height: 12.5rem;
}

.article-description {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.name {
  font-size: 0.75rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  background-color: var(--dark-blue);
  padding-block: 2.5rem;
  color: var(--white);
  align-items: center;
  text-align: center;
}

@media screen and (width >= 48em) {
  footer {
    display: grid;
    grid-template-columns: auto auto 1fr;
    padding-inline: var(--res-padding);
  }
}

@media screen and (width >= 90em){
  footer {
    grid-template-columns: auto 1fr auto;
    column-gap: 8.125rem;
  }
}

.icons,
footer > nav,
footer .cta,
footer > nav > * {
  display: flex;
  flex-direction: column;
}

.icons,
footer .cta{
  gap: 2rem;
}

.icons > ul {
  display: flex;
  gap: 0.875rem;
}

footer > nav {
  line-height: 1;
  gap: 1.375rem;
}

@media screen and (width >= 48em){
  footer > nav {
    grid-column: span 2;
    flex-direction: row;
    justify-content: flex-end;
    text-align: left;
    gap: 2rem;
  }

  footer > .cta {
    grid-column: span 3;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (width >= 90em){
  footer > nav {
    grid-column: 2;
    justify-content: flex-start;
  }

  footer > .cta {
    grid-column: 3;
    flex-direction: column;
    align-items: flex-end;
  }
}

footer > nav > * {
  gap: 1.375rem;
}
